<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/icon/favicon.png" slot="start" class="toolbar-icon ion-padding-start">
    <ion-title slot="start">
      SignalR Chat <ion-badge color="primary">{{ userCount }}</ion-badge>
    </ion-title>
    <ion-button slot="end" *ngIf="cs.usernameSet" (click)="cs.clearUsername()" fill="outline">Change Username</ion-button>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="!cs.connected"></ion-progress-bar>
</ion-header>

<ion-grid class="ion-text-center" *ngIf="!cs.usernameSet && cs.connected">
  <ion-row>
    <ion-col>
      <ion-title>New here?</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>Please tell us your username:</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Username goes here..." type="text" (keyup.enter)="cs.setUsername()" [(ngModel)]="cs.username"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content *ngIf="cs.usernameSet">
  <ion-list class="message-list">
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <b>{{ message.username }}:</b>
        {{ message.content }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-input slot="start" placeholder="Type a message here..." type="text" (keyup.enter)="sendMessage()" [(ngModel)]="message"></ion-input>
    </ion-toolbar>
  </ion-footer>
</ion-content>